/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Coda', cursive;


#F88B5A
865C21
*/


/*
    MAIN SETTINGS
*/
a{
    text-decoration: none;
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
}
br{
    padding: 10px;
}
h1{
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
ul, li{
    list-style: none;;
}

html{
     overflow-x: hidden;
}
body{
  
    margin: 0 !important;
    padding: 0 !important;
    background: #F7F7F3;
 background-attachment: fixed;
}
.cont{
    width: 100%;
    height: 100%;
    max-width: 1600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.title{
     border-bottom: 2px solid #ba853a;
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
    width: 600px;
    text-align: center;
    color: #171717;
}

/*
    NAVIGATOR
*/
nav{
    background: rgba(0, 0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 10;
 }
nav .cont{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.logo{
    font-weight: normal;
     
    font-size: 30px;
    color:#f8f8f8;
}
.logo b{
   
    color:#ba853a;
}
nav .menu{
    height: 100%;
}

nav .menu ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
}
nav .menu ul li{
    height: 100%;
    padding: 0px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
nav .menu ul li a{
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    color:#ffffff;
}
nav .menu ul li a:hover{
    color:#ba853a !important;
}

/*
    SLIDER
*/
header{
    width: 100%;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(../img/header.svg) no-repeat right bottom #252934;
    overflow: hidden;
    padding: 40px 0px;
  }
header img{
    width: 550px;
}
header .cont{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
header .fb-page{
    width: 450px;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0, 0, 0, 0.48);
    overflow: hidden;
    border-radius: 10px;
 }
header .welcome{
    width: 600px;
    padding: 40px;
    color: white;
    text-align: center;
    
}
header .welcome h1{
    color:#ba853a;
    padding-bottom: 16px;
    font-weight: 800;
    letter-spacing: 2px;
}
header .welcome h2{
    font-weight: 500;
    line-height: 29px;

}
 
/*
    INFORMATION
*/

.information{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
     padding: 60px 0px;
}

.information .cont{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
 
.information .grid{
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: -30px;
}
.information .info{
 
    grid-column: 1,2;
    width: 500px;
    margin-bottom: 40px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);
    font-size:20px;
      
}
.information .info p{
    padding: 10px ;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: white;
    font-size: 1em;
    text-align: center;
    font-weight: 500;
}
.information .info .info_img{
    width: 100%;
    height: 300px;
    position: relative;
    overflow:hidden; 
    cursor: pointer;
}
.information .info:nth-child(1) .info_img{
        -webkit-animation: 10s slide infinite reverse;
                animation: 10s slide infinite reverse;
   
}

@-webkit-keyframes  slide{
    0%{
       background: url(../img/galeria/pasaporte/1.jpg) center no-repeat #6c4002; 
         background-size: contain;
    }
    20%{
        background: url(../img/galeria/tituloCarro/1.jpg) center no-repeat #6c4002; 
         background-size: contain;
        
    }
    40%{
        background: url(../img/galeria/traduccion/1.jpg) center  no-repeat #6c4002; 
         background-size: contain;
        
    }
    60%{
         background: url(../img/galeria/trascript/1.jpg) center no-repeat #6c4002; 
         background-size: contain;
        
    }
    80%{
         background: url(../img/galeria/vaporless/1.jpg) center  no-repeat #6c4002; 
         background-size: contain;
        
    }
    100%{
         background: url(../img/galeria/zims/1.jpg) center  no-repeat #6c4002; 
         background-size: contain;
        
    }
}

@keyframes  slide{
    0%{
       background: url(../img/galeria/pasaporte/1.jpg) center no-repeat #BA853A; 
         background-size: contain;
    }
    20%{
        background: url(../img/galeria/tituloCarro/1.jpg) center no-repeat #BA853A; 
         background-size: contain;
        
    }
    40%{
        background: url(../img/galeria/traduccion/1.jpg) center  no-repeat #BA853A; 
         background-size: contain;
        
    }
    60%{
         background: url(../img/galeria/trascript/1.jpg) center no-repeat #BA853A; 
         background-size: contain;
        
    }
    80%{
         background: url(../img/galeria/vaporless/1.jpg) center  no-repeat #BA853A; 
         background-size: contain;
        
    }
    100%{
         background: url(../img/galeria/zims/1.jpg) center  no-repeat #BA853A; 
         background-size: contain;
        
    }
}


.information .info:nth-child(2) .info_img{
        background: url(../img/grid/grid2.jpg) center /cover; 
}.information .info:nth-child(3) .info_img{
        background: url(../img/grid/grid3.jpg) center /cover; 
}
 .information .info:nth-child(4) .info_img{
        background: url(../img/grid/grid4.jpg) center /cover; 
}.information .info:nth-child(5) .info_img{
        background: url(../img/grid/grid5.jpg) center /cover; 
}.information .info:nth-child(6) .info_img{
        background: url(../img/grid/grid6.jpg) center /cover; 
}
 .information .info:hover > .info_img p{
        top: 0%;
}
.information .info .info_img p{
    width: 100%;
    height: 100%;
    background: rgba(116, 82, 34, 0.89);
    color: white;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: .7em;
    position: absolute;
    top: -100%;
    -webkit-transition: 0.2s top;
    transition: 0.2s top;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.information .info .info_img p b{
     
    text-align: center
    }
/*
    DATA
*/
.data{
    background: #ba853a;
    width: 100%;
    height: 120px;
   
 
    display: -webkit-box;
   
 
    display: -ms-flexbox;
   
 
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.data .cont{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.data .cont div{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
}
.data .cont div h1{
    font-size: 30px;
    font-weight: bold;
}
.data .cont div h2{
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
}

/*
    CERTIFIED
*/

.certified{
    padding: 60px 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background: #;
}

.certified .cont{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.certified_cont{
    height: 300px;
    width: 100%;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.certified_cont .left{
    height: 100%;
    width: 100%;
}
.certified_cont .middle{
    width: 600px;
    height: 100%;
    background: url(../img/logo.jpg)  no-repeat center #c6c6c6;
    background-size: cover;
    margin: 0px 20px; 
}
.certified_cont .right{
    width: 100%;
    height: 100%;
}
 
.box{
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 20px;cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
 
}
.box h5{
 text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #9d5c00;
}
.box p{
    font-size: 15px;
    font-weight: 600;
    padding-top: 15px;
    text-align: justify;
    color :#000000;
}
/*
    ABOUT
*/
.about{
    height: 550px;
    background: #252934;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.about .cont{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.about .cont .right{
   width: 700px;;
    display: -webkit-box;;
    display: -ms-flexbox;;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
     
    border-radius: 10px;
}
.about .cont .left{
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.about .cont .left .fb-page{
    width: 100%;
}
.about img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.about .cont h1{
    color: #ffffff;
    padding-bottom: 40px;
    text-align: center;
    font-size: 30px;
 
}
/*
    PDFS
*/
.pdfs{
    background: #ba853a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 70px 0px;
}
.pdfs .cont{
    height: 100%;
     
    display: -webkit-box;
     
    display: -ms-flexbox;
     
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.pdfs p{
    margin-top: 20px;
    color: white;
    font-size: 17px;
    padding-top: 20px;
    column-count: 3;
    padding: 20px 0px;
    border-bottom: 1px solid white;
}
 
.pdfs h1{
    font-weight: 800;
    text-align: center;
    color: #ffffff;
    height: 30px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}
.pdfs_cont{
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.pdfs img{
    width: 500px;
    height: 600px;
    margin-bottom: 40px;
}

/*
    CONTACT
*/

.contact{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0px;
    background:white;
    height: 600px;
}
.contact .cont{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
 
form .file{
    width: 100%;
    margin-top: 10px;
    margin-bottom:10px
}
.contact .contact_cont{
    width: 100%;
     margin-top: 40px;
        height: 400px;
}
.contact .contact_cont form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.contact .contact_cont form .form_top{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.contact .contact_cont form .left{
    width: 100%;
}.contact .contact_cont form .right{
    width: 100%;
}
.contact .left{
    margin-right: 40px;
}
.contact .left input{
    width: 100%;
    height: 40px;
    border-radius: 2px;
    background: #e3e3e3;
    border:0px;
    margin-bottom: 10px;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.contact .left p{
    font-size: 18px;
    padding: 10px 0px;
}
.contact .right p{
    font-size: 18px;
    padding: 10px 0px;
}
.contact .right textarea{
    background: #e3e3e3;
    width:100%;
    height: 220px;
    border-radius: 2px;
}
.contact button{
    width: 100%;
    
    color: white;
    font-size: 20px;
    font-weight: bold;
     padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
}
.contact button:nth-child(2){ background: #ba853a; border-bottom: 15px solid #6c4002;}
.contact button:nth-child(3){ background: #ba853a; border-bottom: 15px solid #6c4002;}
.contact button:nth-child(2):hover{
        border-bottom: 10px solid #6c4002;
    margin-top: 25px;
}
.contact button:nth-child(3):hover{
        border-bottom: 10px solid #6c4002;
    margin-top: 25px;
}
.comments{
    width: 100%;
    padding: 60px 0px;
    background: #ba853a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}.comments .cont{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.comments .cont h1{
    color: white;
    padding: 30px 0px;
}

.comments .cont .fb-comments{
    width: 100%;
    background: #ffffff;
    height: 100%;
    border-radius: 10px;
}


.menu2{
display: none;
    width: 40px;
    min-width: 40px;
    height:40px;;
    background: url(../img/menu.png) center center  no-repeat , #ba853a;
    background-size: 28px;
    cursor: pointer;
    margin-right: 20px;
}
.menu_opc{
    display: none;
     background: rgba(0, 0, 0, 0.99);
    position: fixed;
    top: 0px;
    left: 0p;
    width: 100%;
    height: 100%;
    z-index: 50;
}.menu_cont{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}
.menu_cont a{
    width: 100%;
    padding: 40px;
    text-decoration: none;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
}
.menu_cont a:hover{
    color: #ba853a;
    
}
.close{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    font-weight:1000;
}
.close:hover{
    color: #ba853a;
}


/*Responsive design*/

@media screen and (max-width:1600px){
    .cont{
        max-width: 1200px;
    }
    .information .info{
        width: 570px;
        
    }
    .pdfs p{
        
    }
     
    
}
@media screen and (max-width:1200px){
    header .cont{
        max-width: 800px;
    }
    header .welcome{
        width: 480px;
    }
    header .welcome h1{
        font-size: 20px;
    }
    header .welcome h2{
        font-size: 16px;
    }
    .cont{
        max-width: 100%;
        padding: 0px 40px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .information .cont .grid{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
     .information .info{
        width: 320px;
         font-size: 17px;
    }
     
    
    nav .logo{
        font-size: 22px;
    }
    nav .menu{
        font-size: 12px;
    }
    header{
        height: 570px;
        padding-bottom: 0px;
    }
    header img{
        width: 370px;
        height: 360px;
    }
    header .fb-page{
        width: 340px;
    }
    .title{
        font-size: 22px;
    }
    .data .cont div h1{
        font-size: 22px;
    }
    .data .cont div h2{
        font-size: 15px;
    }
    .contact .left p, .contact .right p{
        font-size: 16px;
    }
    .contact .left input{
        height: 30px;
    }
    .contact .right textarea{
        height: 190px;
    }
    .contact button{
        font-size: 16px;
    }
} 


@media screen and (max-width:1100px){


    .pdfs p{
        
    }
}
@media screen and (max-width:900px){
    .menu2{
        display: block;
    }
    header .fb-page{
        display: none;
    }
    header{
        height: 400px;
    }
    header .welcome{
        margin: 0px;
        width: 100%;
        background: rgba(0, 0, 0, 0.15);
    }
   .pdfs p{
        -webkit-column-width: 250px;
                column-width: 250px; 
    }
    
    .grid{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .information .info{
        width: 100%;
        border-radius: 0px;
        font-size: 20px
    }
     
    .certified_cont .middle {
        display: none;
    }
    .certified_cont {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        padding-top: 20px;
        height: auto;
    }
    .certified_cont .left h5, .certified_cont .right h5{
        font-size: 18px;
    }
    .certified_cont .left p, .certified_cont .right p{
        font-size: 14px;
    }
    .certified_cont .left, .certified_cont .right{
        width: 100%;
    }
    .pdfs img{
        width: 250px;
        height: 300px;
    }
    .contact .cont .form_top{
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
        height: auto;
    }
    .contact .cont .form_top input{
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .contact .cont .form_top .left{
        margin: 0px;
    }
    .contact_cont{
        height: auto !important;
        
    }
    .contact{
        height: auto;
    }
    .contact .cont{
        height: auto;
    }
    .contact .cont form{
        height: auto;
    }
    .title{
        width: auto;
    }
    nav .menu{
        display: none;
    }
    .about{
        height: auto;
        padding: 40px 0px;
    }
    .about .cont{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .about .right{
        margin-top: 50px;
        padding: 0px !important;
        width: auto !important;
        border:0px !important;
    }
    .about .left{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    }
}

@media screen and (max-width:850px){
.pdfs p{
    
    }
}

@media screen and (max-width:800px){
    header img{
        display: none;
    }
.about .left, .about .left .fb-page{
       display: none;
    width: 100%;
    }
    .about .right h1{
     font-size: 20px;
    }
    .about img{
        width: 200px;
        height: 200px;
    }
    header .welcome{
        background: none;
    }
}

@media screen and (max-width:600px){
    .information .info{
        font-size: 15px;
    }
    .certified{
        height: auto;
    }
    .certified_cont{
        height: auto;
    }
    .pdfs img{
        width: 150px;
        height: 200px;
    }
    nav .logo{
        font-size: 19px;
    }
    header{
        height: auto;
    }
    header .welcome h1{
        font-size: 16px;
    }
    header .welcome h2{
        font-size: 10px;
  
    .cont{
        max-width: 100%;
        padding: 0px 10px;
    }
     .data .cont{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;
        margin: 0px;
    }
    .data{
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .data div{
        margin-bottom: 20px;
    }
    .title{
        font-size: 13px;
    }
    
}
@media screen and (max-width:400px){
    .information .info{
        font-size: 14px;
    }
}
}